#content
  #left
    %h2 Basecamp Todo Lists
    - @user.basecamp_accounts.each do |account|
      - account.find_list.each do |list|
        %h3
          = list.name 
          - if BaseTodoList.find_by_basecamp_id(list.id).nil?
            = link_to "import", "#", :id => "import_list_#{list.id}",:class => "import", :rel => list.id
        %ul{:id => list.id}
          - list.todo_items.each do |item|
            %li{:id => item.id}
              = item.content
              - if BaseTodoItem.find_by_basecamp_id(item.id).nil?
                = link_to "import", "#", :class => "item_import", :rel => item.id
  #center
  #right
    %h2 Decorated Todo Lists
    = render :partial => "base_todo_lists", :locals => {:base_todo_lists => @user.base_todo_lists}

