%h1= "Account Settings For: #{ current_user.email }"  
#left
  #new_basecamp_account_form{:style => "display:none;"}
    - form_for @new_basecamp_account do |form|
      %fieldset
        = form.label :account_name, "Account Name"
        = form.text_field :account_name

        = form.label :username, "Username"
        = form.text_field :username

        = form.label :password, "Password"
        = form.password_field :password
        %br
        = form.submit "add"

  %a{:href =>"#new_basecamp_account_form",:rel =>"facebox"} Add new account
  #basecamp_accounts
    - @user.basecamp_accounts.each do |account|
      - next unless account.valid?
      %h2
        = link_to account.account_name, new_todo_list_url(:user_id => @user.id)
        = link_to image_tag("cancel_button.png"), "/basecamp_accounts/#{account.id}", :method => :delete
      %ul
        %li= account.username
        - string = ""
        - account.password.each_char {string += "*"}
        %li= string
